body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #007bff;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}

.navbar-brand {
    color: white;
}

.card {
    background-color: white;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-edit,
.btn-learn,
.btn-delete {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.add-card {
    cursor: pointer;
    background-color: #e9ecef;
    border: 2px dashed #007bff;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

#categories {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#questions-list {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.modal-header, .modal-body, .modal-footer {
    background-color: #ffffff;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.answers-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.answers-container .list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.question-item {
    margin-bottom: 20px;
}

.question-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.question-meta, .answer-meta {
    color: #6c757d;
}

.answer-item {
    border-left: 3px solid #007bff;
    margin-bottom: 10px;
    padding-left: 10px;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#resetData {
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    bottom: 60px;
    z-index: 10;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}

.footer-spacing {
    margin-bottom: 60px;
}

.correct {
    font-weight: bold;
    color: black;
}

.text-danger {
    color: #dc3545 !important;
    font-weight: bold;
  }

.text-success {
    color: #28a745 !important;
    font-weight: bold;
}