body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2C6FBB;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
}

.navbar-brand {
    color: #C2E4EA;
}

.card {
    background-color: #2C6FBB;
    color: white;
}

.btn-edit,
.btn-learn,
.btn-delete {
    background-color: white;
    color: #2C6FBB;
}

.add-card {
    cursor: pointer;
    background-color: #A9D0F5;
}

/* Forum-spezifische Schriftgrößen-Anpassungen */
#forum-sections, #questions-container {
    font-size: 16px; /* Standard-Schriftgröße für das gesamte Forum */
}

#forum-sections h5, #questions-container h5 {
    font-size: 18px; /* Schriftgröße für Überschriften im Forum */
    font-weight: bold; /* Schrift fett für bessere Lesbarkeit */
}

#forum-sections p, #questions-container p {
    font-size: 16px; /* Schriftgröße für Textabsätze im Forum */
}

#questions-container small {
    font-size: 14px; /* Kleinere Schriftgröße für Zeitstempel */
}

#forum-sections input[type="text"], #questions-container input[type="text"],
#forum-sections .btn, #questions-container .btn {
    font-size: 16px; /* Schriftgröße für Eingabefelder und Buttons im Forum */
}

footer {
    background-color: #2C6FBB;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}

.footer-spacing {
    margin-bottom: 60px; /* Abstand nach unten */
}

.correct {
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn-delete-question {
    margin-top: 10px;
}

::placeholder {
    color: #6c757d; /* Bootstrap's placeholder color */
    opacity: 1;
}
